
body {
    /* https://coolors.co/generate and click export -> scss to get the colors to copy and paste below*/
    /* --color1: hsla(349, 69%, 76%, 1);
    --color2: hsla(207, 67%, 44%, 1);
    --color3: hsla(200, 61%, 56%, 1);
    --color4: hsla(187, 41%, 94%, 1);
    --color5: hsla(170, 28%, 95%, 1); */

    /* --color1: hsla(45, 86%, 83%, 1);
    --color2: hsla(135, 65%, 98%, 1);
    --color3: hsla(315, 37%, 86%, 1);
    --color4: hsla(45, 73%, 98%, 1);
    --color5: hsla(224, 40%, 79%, 1); */
    
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    
    font-family: 'Titillium Web', sans-serif;
    background-color: var(--color2);
}

header {
    font-size: 3rem;
    text-align: center;
    padding: 2rem;
}

p {
    font-size: 1.5rem;
    font-style: italic;
    text-align: center;
    padding: 1rem;
}

.game-elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

form {
    font-size: 2rem;
}

button {
    height: 9rem;
    width: 9rem;
    font-size: 1.5rem;
    border-radius: 50%;
    background-color: black;
    color: whitesmoke;
}

.results-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    border: solid black 1px;
    border-radius: 25%;
    background-color: rgba(153, 205, 50, 0.534);   
}